{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy}}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="login">
    </form>
    <a href="{% url 'password_reset' %}">Forgot password? | </a>
    <a href="{% url 'register' %}">Register</a>

    Go back to <a href="{% url 'app:dashboard' %}"> Dashboard </a>
</div>
{% endblock %}