{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>

    {% block style %}


    {% endblock %}
  </head>
  <body style="margin: 30px">
    {% block navbar %} {% endblock %} 
    
    {% block app_base %}

    <!-- all the page content will be inserted here by Django -->

    {% endblock %} 
    
    {% block script %} {% endblock %}

    <!--Load these JavaScript src serially -->
    <!-- jQuery >> then Popper.js, then Bootstrap JS -->


    <script>

      const msg_close_btns = document.querySelectorAll('.close');

      msg_close_btns.forEach(close_btn => {
        close_btn.addEventListener('click', function handleClick(e) {
          e.target.parentElement.parentElement.style.display = 'none';
          // close_btn.setAttribute('style', 'background-color: yellow;');
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
