{% extends 'app_base.html' %}

{% block title %}
  Bids List
{% endblock %}   

{% block content %}

    <div class="product-detail">
        <h2>Bids History</h2>
        <!-- <h5 style="padding-top: 1.1rem; padding-bottom: 1.1rem;">
            <a href="{% url 'app:product_detail' product.id %}">
                <img class="bids-list-preview-img" src="{{ product.product_images.first.image.url }}" alt="" >
                {{ product.name }}
            </a>
        </h5> -->

        <a href="{% url 'app:product_detail' product.id %}">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-sm-4">
                    <img class="card-img" src="{{ product.product_images.first.image.url }}" alt="" style="height: 65px; width: 79px;">
                </div>
                <div class="col-sm-8">
                    <div class="card-body" style="padding: 0;">
                    <!-- <h5 class="card-title"> -->
                        {{ product.name }}
                    <!-- </h5> -->
                    </div>
                </div>
                </div>
            </div>
        </a>

        <div class="bid-status">
            {% if product.is_bid_running %}
                <div class="running">

                </div>
            {% else %}
                <div class="ended">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Bidding on this item has ended
                </div>

                <div class="bid-winner">
                    <br>
                    <p class="font-weight-bold">Winning bid: {{bids.first.amount}} BDT.</p>
                    <p class="font-weight-bold">Total Bids: {{ bids.count }}</p>
                </div>

            {% endif %}
        </div>
    </div>

    <hr>

    <div id="bids_list">

        {% if bids  %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">User</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                    {% for bid in bids  %}
                            <tr class="{% if bid.placed_by == request.user %}table-active{% endif %}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    {{ bid.placed_by }}
                                    {% if not bid_running %}
                                        {% if bid.placed_by == winner %}
                                            <span class="badge badge-success">winner</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ bid.amount }}</td>
                                <td>{{ bid.placed_datetime }}</td>
                            </tr>
                    {% empty %}
                        No bids yet.
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h6 class="text-center">No bids found.</h6>
        {% endif %}
    </div>

{% endblock %}