{% extends 'app_base.html' %}

{% block title %}
  Bids List
{% endblock %}   

{% block content %}

    <div class="product-detail">
        <h3>
            Bids on Item:
            <a href="{% url 'app:product_detail' product.id %}">
                {{ product.name }}
            </a>
        </h3>

        <div class="bid-status">
            {% if product.is_bid_running %}
                <div class="running">

                </div>
            {% else %}
                <div class="ended">
                    <i class="bi bi-exclamation-circle-fill"></i>
                    Bidding on this item has ended
                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <div id="bids_list">

        {% if bids  %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">User</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                    {% for bid in bids  %}
                            <tr class="{% if bid.placed_by == request.user %}table-active{% endif %}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ bid.placed_by }}</td>
                                <td>{{ bid.amount }}</td>
                                <td>{{ bid.placed_datetime }}</td>
                            </tr>
                    {% empty %}
                        No bids yet.
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h6 class="text-center">No bids found.</h6>
        {% endif %}
    </div>

{% endblock %}