{% extends 'app_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}
{% load humanize %}

{% block title %}
  Dashboard - aBay
{% endblock %} 
  
{% block content %}



	<div class="row">
		<div class="col-md-9">
			
			<!-- add if any messages exits for this page -->
			{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
						{{ message }}
						<button type="button" class="msg-close" aria-label="Close" style="float: right;">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
			    {% endfor %}
			</div>
			<br><br>
			{% endif %}

			<!-- inside this grid space place another 3 grids  -->
			<h4>Items to bid</h4><hr>


			<div class="infinite-container">
				<!-- use row and infinite-item class together for perfect pagination -->
				<div class="row infinite-item">

			    {% for p in page_obj %}

			        <div class="col-md-4">
			        	<a href="{% url 'app:product_detail' p.id %}" class="cardLink">
				        <div class="card shadow1" style="margin-bottom: 20px;">

							<img class="card-img-top" src="{{ p.product_images.first.image.url }}" style="height: 200px;" loading="lazy">

							{% if p.is_bid_running %}
								<span class="status">Running</span>
							{% else %}
								<span class="status" style="background-color: red; color: white;">Ended</span>
							{% endif %}

				          <div class="card-body ">
				            <h5 class="card-title"><b>{{ p }}</b></h5>
							<p class="card-text"><b>Condition: </b> {{ p.condition }}</p>
				            <p class="card-text"> <b>Category: </b> {{ p.category  }}</p>
				            <p class="card-text"><b>Price</b>: <span class="text-success"><b>
								
								{% if p.auctions.all %}
									{{ p.auctions.first.amount|floatformat:1  }}
								{% else %}
									{{ p.min_bid_price|floatformat:1}}
								{% endif %}
								BDT.
								</b></span></p>
							{% if p.is_bid_running %}
								<p class="card-text">{{ p.auctions.all.count }} bids. Time left: {{p.auc_end_time | naturaltime}}</p>
							{% else %}
								<p class="card-text">{{ p.auctions.all.count }} bids. Ended: {{p.auc_end_time | naturaltime}}</p>
							{% endif %}
							
							<p class="card-text small">Posted by: {{ p.created_by  }} on {{ p.creation_date|timezone:"Asia/Dhaka" }}</p>
				            <!-- <a href="{% url 'app:product_detail' p.id %}">Show More</a> -->
				          </div>
				        </div>
					    </a>
			        </div>
				   
			        {% if forloop.counter|divisibleby:3 %}
			        	</div>
			        	<div class="row infinite-item">
			        {% endif %}

			    {% endfor %}
				</div>
			</div>

			<!-- add a content loading state -->
			<div class="loading" style="display: none; text-align: center;">
			    <img class="loader" src="{% static 'media/loading2.gif' %}">
			</div>


		</div>

		{% if request.user.is_authenticated %}
		<!-- side bar section -->
		<div class="col-md-3 d-none d-md-block my-listed-items">
			<div>
				<h4>My Listed Items </h4><hr>
				<ul class="list-group">
					{% for p in products_by_user %}
						<li class="list-group-item"><a href="{% url 'app:product_detail' p.id %}"> {{ p }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		<!-- pagination link to be used by Waypoint.js for infinite-scrolling -->
		<div class="pagination">
		    {% if page_obj.has_next %}
		        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
		    {% endif %}
		</div>
	</div>

	<!-- Go back to top  -->
	<p class="totop"> 
	    <a href="#top" id="totop1"><b>Back to top</b></a> 
	</p>

	<script>
	    var infinite = new Waypoint.Infinite({
	        element: $('.infinite-container')[0],
	        onBeforePageLoad: function() {
	            $('.loading').show()
	        },
	        onAfterPageLoad: function() {
	            $('.loading').hide()
	        }
	    });

	    // scripts for scroll to top
	    $('#totop1').click(function () {
	        $('body,html').animate({
	            scrollTop: 0
	        }, 1000);
	        return false;
	    });

	    $(window).scroll(function () {
	        if ($(this).scrollTop() > 50) {
	            $('.totop a').fadeIn();
	        } else {
	            $('.totop a').fadeOut();
	        }
	    });
	</script>

{% endblock %}
