{% extends 'app_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add Item - aBay
{% endblock %}

{% block content %}


<!-- no more gooling how to center a div; here comes the flexbox -->
<!-- <div class="d-md-flex justify-content-center"> -->
<div class="container">
	<div class="row">
		<div class="col-md-2 col-lg-2"></div>
		<div class="col-md-8 col-lg-8">
			<form method="post" enctype="multipart/form-data" id="blog_form">
				{% csrf_token %}
				{{ form|crispy }}
				<br>
				<h3>Product Photos</h3>
				<div id="gallery">
					<div id="gallery-content">
						<div class="img-wrapper file-upload-button">
							<div class="form-group">
								<label for="image-upload">Upload photos
									<br>
									<i class="bi bi-cloud-upload"></i>
								</label>
								<input class="form-control-file" type="file" src="" alt="" accept="image/*"
									id="image-upload" class="image_upload form-control" multiple>
							</div>
						</div>

						<!-- SHOW THE EXISITNG PHOTOS -->

						{% for image in product.product_images.all %}
						<div class="img-wrapper">
							<img src="{{ image.image.url }}" alt="" style="height: 100%; width: 100%;">

							<div class="cross" onclick=removeThisImage(event) data-id="{{ image.id }}">x</div>
						</div>
						{% endfor %}


						<!-- {% for photo in product.photos.all %}
						<div class="img-wrapper">
							<img src="{{ photo.photo.url }}" alt="" style="height: 100%; width: 100%;">

							<div class="cross" onclick=removeThisImage(event) data-id="{{ photo.id }}">x</div>
						</div>
						{% endfor %} -->
					</div>
				</div>
				<br><br>
				<div class="form-group ">
					<button type="submit" id="submit_btn" class="btn btn-success"> submit </button>
				</div>
			</form>
		</div>
	</div>
</div>


<script>
	const gallery = document.getElementById('gallery-content');
	const fileInput = document.getElementById('image-upload');
	let image_Files = new Map();
	let images_to_be_removed = [];

	function removeThisImage(event) {
		element = event.target;
		element.parentElement.remove();

		// existing image Ids to be removed
		const id = element.getAttribute('data-id');
		if (id !== null) {
			images_to_be_removed.push(id);
		}

		console.log(images_to_be_removed)
		// remove the image from the hashset
		image_Files.delete(element);
	}

	fileInput.addEventListener('change', (e) => {
		const files = e.target.files;
		for (let i = 0; i < files.length; i++) {

			file = files[i];
			const imgURL = URL.createObjectURL(file);

			const imgWrapper = document.createElement('div');
			imgWrapper.classList.add('img-wrapper');

			const imageRemover = document.createElement('div');
			imageRemover.classList.add('cross');
			imageRemover.textContent = 'x';
			imageRemover.onclick = removeThisImage;

			image_Files[imageRemover] = file;

			const img = document.createElement('img');
			img.src = imgURL;

			imgWrapper.appendChild(img);
			imgWrapper.appendChild(imageRemover);

			gallery.insertBefore(imgWrapper, gallery.firstElementChild.nextSibling);

			image_Files.set(imageRemover, file);
		}
	});


	// Get CSRF token from cookie
	function getCookie(name) {
		let token = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
		return token ? token.pop() : '';
	}

	const btn = document.querySelector('#submit_btn');
	btn.addEventListener('click', e => {
		e.preventDefault();
		const csrftoken = getCookie('csrftoken');
		const myForm = document.querySelector('#blog_form');

		let imageFiles = [...image_Files.values()]
		let formData = new FormData(myForm)

		// New images to be added to the blog post
		for (let i = 0; i < imageFiles.length; i++) {
			formData.append('images_to_be_added', imageFiles[i]);
		}

		// Existing images requested to be removed from the blog post
		for (let i = 0; i < images_to_be_removed.length; i++) {
			formData.append('images_to_be_removed', images_to_be_removed[i]);
		}


		const url = "{% url 'app:product_edit' product.id %}"
		fetch(url, {
			method: 'POST',
			headers: {
				'Accept': 'application/json',
				'X-Requested-With': 'XMLHttpRequest',
				'X-CSRFToken': csrftoken,
			},
			body: formData

		}).then(response => {
			return response.json()
		}).then(data => {
			return window.location.replace(data['success_url'])
		});
	});

	function getCurrentTime() {
		const now = new Date();

		let hours = now.getHours();
		let minutes = now.getMinutes();

		if (hours < 10) {
			hours = '0' + hours;
		}



		minutes = Number(minutes) + 30

		if (minutes > 59) {
			minutes = minutes - 59
			hours += 1
		}

		if (minutes < 10) {
			minutes = '0' + minutes;
		}

		// console.log(`${hours}:${minutes}`);
		return `${hours}:${minutes}`
	}


	window.addEventListener("DOMContentLoaded", function () {
		flatpickr(".datetimefield", {
			minDate: 'today',
			enableTime: true,
			minTime: getCurrentTime(),
			dateFormat: "Y-m-d H:i",
		});
	});

</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{% endblock %}